:root {
  /**
     * colors
     */

  --rich-black-fogra-39_50: hsla(0, 0%, 5%, 0.5);
  --rich-black-fogra-39: hsl(0, 0%, 5%);
  --indian-yellow_10: hsla(36, 61%, 58%, 0.1);
  --indian-yellow: hsl(36, 61%, 58%);
  --harvest-gold: hsl(36, 66%, 53%);
  --eerie-black-1: hsl(0, 0%, 14%);
  --eerie-black-2: hsl(0, 0%, 12%);
  --eerie-black-2_85: hsla(0, 0%, 12%, 0.85);
  --eerie-black-3: hsl(0, 0%, 8%);
  --sonic-silver: hsl(0, 0%, 44%);
  --davys-gray: hsl(210, 9%, 31%);
  --light-gray: hsl(0, 0%, 80%);
  --platinum: hsl(0, 0%, 91%);
  --black_30: hsla(0, 0%, 0%, 0.3);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --white_30: hsla(0, 0%, 100%, 0.3);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(0, 0%, 21%);

  /**
     * typography
     */

  --ff-oswald: "Oswald", sans-serif;
  --ff-rubik: "Rubik", sans-serif;

  --fs-40: 4rem;
  --fs-30: 3rem;
  --fs-24: 2.4rem;
  --fs-18: 1.8rem;
  --fs-14: 1.4rem;
  --fs-13: 1.3rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
     * spacing
     */

  --section-padding: 80px;

  /**
     * shadow
     */

  --shadow-1: 10px 0 60px hsla(0, 0%, 15%, 0.07);
  --shadow-2: 10px 0 60px hsla(0, 0%, 15%, 0.1);

  /**
     * radius
     */

  --radius-5: 5px;
  --radius-8: 8px;

  /**
     * transition
     */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
data,
input,
select,
button,
textarea,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
select,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-rubik);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--sonic-silver);
  font-size: 1.6rem;
  line-height: 2;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  position: absolute;
  content: "";
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1,
.h2,
.h3 {
  font-family: var(--ff-oswald);
  line-height: 1.3;
}

.h1,
.h2 {
  text-transform: uppercase;
}

.h1,
.h3 {
  font-weight: var(--fw-600);
}

.h1 {
  color: var(--white);
  font-size: var(--fs-40);
}

.h2,
.h3 {
  color: var(--eerie-black-1);
}

.h2 {
  font-size: var(--fs-30);
}

.h3 {
  font-size: var(--fs-24);
}

.btn {
  color: var(--white);
  background-color: var(--indian-yellow);
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  padding: 10px 25px;
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  border-radius: var(--radius-5);
  overflow: hidden;
}

.btn::before {
  background-color: var(--eerie-black-1);
  inset: 0;
  z-index: -1;
  transform: skewY(-15deg) scaleY(0);
  transition: var(--transition-2);
}

.btn:is(:hover, :focus)::before {
  transform: skewY(-15deg) scaleY(2.5);
}

.text-center {
  text-align: center;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/

.header-top-item,
.header .btn {
  display: none;
}

.header-top-list,
.header-top-list .social-list {
  display: flex;
  align-items: center;
}

.header-top-list {
  justify-content: center;
}

.header-top-list .social-list {
  gap: 20px;
  padding-block: 15px;
}

.header-top-list .social-link {
  color: var(--sonic-silver);
  font-size: 15px;
  transition: var(--transition-1);
}

.header-top-list .social-link:is(:hover, :focus) {
  color: var(--indian-yellow);
}

.header-bottom {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  padding-block: 10px;
  z-index: 4;
}

.header-bottom.active {
  position: fixed;
  top: 0;
  background-color: var(--rich-black-fogra-39);
  transform: translateY(-100%);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header-bottom > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--indian-yellow);
  font-family: var(--ff-oswald);
  font-size: 2.7rem;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  line-height: 1.4;
}

.logo .span {
  color: var(--white);
  font-family: var(--ff-rubik);
  font-size: 1.3rem;
  font-weight: var(--fw-300);
  text-transform: capitalize;
  letter-spacing: 2px;
}

.nav-toggle-btn {
  color: var(--white);
  font-size: 40px;
}

.navbar {
  position: absolute;
  padding-inline: 0;
  top: 100%;
  left: 15px;
  right: 15px;
  background-color: var(--rich-black-fogra-39);
  max-height: 0;
  overflow: hidden;
  transition: 0.15s var(--cubic-out);
}

.navbar.active {
  max-height: 321px;
  transition-duration: 0.5s;
}

.navbar-list {
  border-block-start: 1px solid var(--jet);
  margin-block: 25px;
}

.navbar-item {
  border-block-end: 1px solid var(--jet);
}

.navbar-link {
  color: var(--indian-yellow);
  font-family: var(--ff-oswald);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  line-height: 1.5;
  padding: 10px 30px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
  color: var(--black_30);
}

/*-----------------------------------*\
    #HERO
  \*-----------------------------------*/

.hero {
  --section-padding: 100px;
  padding-block-start: calc(var(--section-padding) + 40px);
  background-position: left;
}

.hero::before {
  inset: 0;
  background-color: var(--rich-black-fogra-39_50);
  mix-blend-mode: multiply;
  z-index: -1;
}

.hero-text {
  color: var(--white);
  margin-block: 15px 40px;
}

/*-----------------------------------*\
    #SERVICE
  \*-----------------------------------*/

.service {
  text-align: center;
  margin-top:10%;
  width:100%;
}

.service .section-text {
  margin-block: 15px 55px;
}

.service-card {
  background-color: var(--white);
  padding: 60px 25px;
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-8);
}

.service-card .card-icon {
  color: var(--indian-yellow) ;
  font-size: 70px;
  line-height: 1;
}

.service-card .card-title {
  margin-block: 15px 12px;
  transition: var(--transition-1);
}

.service-card .card-title:is(:hover, :focus) {
  color: var(--indian-yellow);
}

.service-card .card-text {
  margin-block-end: 30px;
}

.service-card .card-btn {
  color: var(--indian-yellow);
  background-color: var(--white);
  max-width: max-content;
  margin-inline: auto;
  font-size: 20px;
  padding: 15px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-5);
  transition: var(--transition-2);
}

.service-card:is(:hover, :focus-within) .card-btn {
  background-color: var(--indian-yellow);
  color: var(--white);
}

/*-----------------------------------*\
    #PRICING
  \*-----------------------------------*/

.pricing::before {
  inset: 0;
  background-color: var(--eerie-black-2_85);
  mix-blend-mode: multiply;
  z-index: -1;
}

.pricing .section-title {
  color: var(--white);
}

.pricing .section-text {
  margin-block: 15px 55px;
  color: var(--white_50);
}

.pricing-tab-container {
  background-color: var(--white);
  padding: 40px 5px;
}

.tab-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  margin-block-end: 30px;
}

.filter-btn {
  color: var(--eerie-black-1);
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  min-width: 130px;
  padding-block: 12px;
  border: 1px solid var(--platinum);
  transition: var(--transition-1);
}

.filter-btn .btn-icon {
  display: none;
}

.filter-btn.active {
  background-color: var(--indian-yellow);
  border-color: var(--indian-yellow);
  color: var(--white);
}

.pricing .grid-list {
  padding-inline: 20px;
}

.pricing .grid-list > li.active {
  animation: popup 0.75s ease forwards;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pricing-card {
  background-color: var(--indian-yellow_10);
  padding: 20px 25px;
  border-radius: var(--radius-5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.pricing-card .card-banner {
  border-radius: 50%;
  overflow: hidden;
}

.pricing-card .wrapper {
  order: 1;
}

.pricing-card .h3 {
  --fs-24: 2rem;
  margin-block-end: 8px;
}

.pricing-card .card-price {
  color: var(--indian-yellow);
  font-family: var(--ff-oswald);
  font-size: var(--fs-30);
  font-weight: var(--fw-500);
}

/*-----------------------------------*\
    #GALLERY
  \*-----------------------------------*/

.gallery{
  margin-top:10%;
}

.title-wrapper {
  margin-block-end: 60px;
}

.gallery .section-text {
  margin-block: 12px 15px;
}

.gallery-card {
  position: relative;
}

.gallery-card .card-banner .img-cover {
  transition: var(--transition-2);
}

.gallery-card:is(:hover, :focus-within) .card-banner .img-cover {
  transform: scale(1.1);
}

.gallery-card .card-content {
  position: absolute;
  inset: 15px;
  background-color: var(--eerie-black-2_85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--transition-2);
}

.gallery-card:is(:hover, :focus-within) .card-content {
  opacity: 1;
  transform: scale(1);
}

.gallery-card :is(.card-title, .card-text) {
  color: var(--white);
}

.gallery-card .card-btn {
  background-color: var(--white);
  color: var(--indian-yellow);
  font-size: 18px;
  padding: 16px;
  border-radius: var(--radius-5);
  margin-block-start: 12px;
  transition: var(--transition-1);
}

.gallery-card .card-btn:is(:hover, :focus) {
  background-color: var(--indian-yellow);
  color: var(--white);
}

/*-----------------------------------*\
    #APPOINTMENT
  \*-----------------------------------*/

.booking {
margin-top: 10%;

}
.continue-application {
    --color: #fff;
    --background: #3A4059;
    --background-hover:  #e3a04e;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position:relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
    margin-left:25%;
    margin-top:7%;
  }
  
  .continue-application > div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
  }
  
  .continue-application > div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
  }
  
  .continue-application > div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
  }
  
  .continue-application > div .folder:before, .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
  }
  
  .continue-application > div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
  }
  
  .continue-application > div .folder:after,
  .continue-application > div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
  }
  
  .continue-application > div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .folder .paper {
    z-index: 1;
    --b: var(--paper);
  }
  
  .continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
  }
  
  .continue-application > div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
  }
  
  .continue-application > div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
  }
  
  .continue-application > div .pencil:before, .continue-application > div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
  }
  
  .continue-application > div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  }
  
  .continue-application > div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
  }
  
  .continue-application:before, .continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
  }
  
  .continue-application:after {
    --r: 45deg;
  }
  
  .continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
  }
  

.appoin {
  padding-block-start: 5;
  
}

.appoin-card .card-banner {
  display: none;
}

.appoin-card .card-content {
  background-color: var(--indian-yellow);
  padding: 80px 15px;
  text-align: center;
  color: var(--white);
}

.appoin-card .section-title {
  color: var(--white);
}

.appoin-card .section-text {
  margin-block: 15px 55px;
}

.input-field {
  background-color: var(--white);
  color: var(--davys-gray);
  min-height: 56px;
  padding-inline: 25px;
  border-radius: var(--radius-5);
  margin-block-end: 20px;
  outline: none;
  outline-offset: 0;
}

.input-field:focus {
  outline: 2.2px solid var(--black_30);
}

select.input-field {
  appearance: none;
}

select.input-field,
.input-field::placeholder,
.input-field.date {
  font-family: var(--ff-oswald);
  color: var(--eerie-black-1);
  font-weight: var(--fw-500);
}

.input-field > option {
  color: var(--sonic-silver);
  font-family: var(--ff-rubik);
}

.input-field.date {
  text-transform: uppercase;
}

.input-field::-webkit-calendar-picker-indicator {
  opacity: 0.85;
}

textarea.input-field {
  padding-block: 15px;
  min-height: 100px;
  height: 120px;
  max-height: 150px;
  resize: vertical;
}

.form-btn {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--white);
  padding: 13px;
  border-radius: var(--radius-5);
  transition: var(--transition-1);
}

.form-btn:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--eerie-black-1);
}

/*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/

.footer {
  background-color: var(--eerie-black-2);
  padding-block-end: 30px;
}

.footer-top {
  margin-block-end: 65px;
}

.footer-brand {
  border: 1px solid var(--white_10);
  margin-block-end: 70px;
}

.footer .logo {
  text-align: center;
  padding: 25px;
  border-block-end: 1px solid var(--white_10);
}

.footer .input-wrapper {
  background-color: var(--white);
  position: relative;
  margin: 25px;
  padding: 15px;
}

.footer .input-wrapper:focus-within {
  outline: 3px solid var(--white_30);
}

.footer .email-field {
  text-align: center;
  margin-block-end: 15px;
  color: inherit;
  outline: none;
}

.footer .btn {
  max-width: 100%;
  width: 100%;
  justify-content: center;
}

.footer-link-box {
  display: grid;
  gap: 50px;
}

.footer-list-title {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-18);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  margin-block-end: 30px;
}

.footer-link::before {
  position: static;
  padding: 2.5px;
  background-color: var(--white_30);
  display: block;
  border-radius: 50%;
  transition: var(--transition-1);
}

.footer-link,
.blog-card,
.blog-card .card-date,
.footer-list-item {
  display: flex;
  align-items: center;
}

.footer-link {
  color: var(--white_50);
  gap: 10px;
  margin-block-start: 8px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) {
  color: var(--white);
}

.footer-link:is(:hover, :focus)::before {
  background-color: var(--white);
}

.blog-card {
  gap: 25px;
  margin-block-start: 20px;
}

.blog-card .card-banner {
  flex-shrink: 0;
}

.blog-card .card-title {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-size: var(--fs-14);
  font-weight: var(--fw-500);
  line-height: 1.5;
  margin-block-end: 5px;
  transition: var(--transition-1);
}

.blog-card .card-title:is(:hover, :focus) {
  color: var(--indian-yellow);
}

.blog-card .card-date {
  gap: 5px;
  font-size: var(--fs-13);
  text-transform: uppercase;
  color: var(--white_50);
}

.blog-card .card-date ion-icon {
  --ionicon-stroke-width: 50px;
}

.footer-list-item {
  align-items: flex-start;
  gap: 10px;
  margin-block-start: 10px;
}

.footer-list-item ion-icon {
  color: var(--indian-yellow);
  font-size: 18px;
  flex-shrink: 0;
  --ionicon-stroke-width: 50px;
  margin-block: 7px;
}

.contact-link {
  color: var(--white_50);
  transition: var(--transition-1);
}

a.contact-link:is(:hover, :focus) {
  color: var(--white);
}

.footer-bottom {
  background-color: var(--eerie-black-3);
  text-align: center;
  padding: 15px;
}

.copyright-link {
  display: inline-block;
  color: var(--indian-yellow);
}

/*-----------------------------------*\
    #BACK TO TOP
  \*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--harvest-gold);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
  border-radius: var(--radius-5);
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}

/*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/

/**
   * responsive for large than 575px screen
   */

@media (min-width: 575px) {
  /**
     * CUSTOM PROPERTY
     */

  :root {
    /**
       * typography
       */

    --fs-40: 6rem;
  }

  /**
     * REUSED STYLE
     */

  .container,
  .header-top {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .btn {
    padding: 13px 40px;
  }

  .h2 {
    --fs-30: 3.5rem;
  }

  /**
     * HEADER
     */

  .header-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    z-index: 4;
    background-color: var(--white);
    border-radius: 0 0 20px 20px;
  }

  .header-top-item:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-top-item ion-icon {
    font-size: 18px;
    color: var(--indian-yellow);
    --ionicon-stroke-width: 50px;
  }

  .header-top-item .item-title {
    color: var(--eerie-black-1);
    font-weight: var(--fw-500);
  }

  .header-top-item .item-link {
    transition: var(--transition-1);
  }

  .header-top-item .item-link:is(:hover, :focus) {
    color: var(--indian-yellow);
  }

  .header-top-list {
    justify-content: space-between;
  }

  .logo {
    font-size: 3rem;
  }

  .logo .span {
    font-size: 1.4rem;
  }

  /**
     * HERO
     */

  .hero {
    padding-block-start: calc(var(--section-padding) + 80px);
  }

  .hero-text {
    font-size: var(--fs-18);
  }

  /**
     * PRICING
     */

  .filter-btn .btn-icon {
    display: block;
    font-size: 55px;
    line-height: 1;
    margin-block-end: 5px;
  }

  .pricing-card {
    flex-wrap: nowrap;
    align-items: center;
    gap: 30px;
  }

  .pricing-card .wrapper {
    order: 0;
  }

  .pricing-card .card-price {
    align-self: flex-start;
    line-height: 1.6;
  }

  /**
     * GALLERY
     */

  .gallery .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
     * APPOINTMENT
     */

  .appoin-card .card-content {
    padding-inline: 50px;
  }

  /**
     * FOOTER
     */

  .footer .email-field {
    margin-block-end: 0;
    text-align: left;
    font-size: var(--fs-18);
    padding: 10px 15px;
    padding-inline-end: 210px;
  }

  .footer .btn {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    width: max-content;
  }

  .footer-link-box {
    grid-template-columns: 1fr 1fr;
  }

  .footer-list:is(:nth-child(3), :nth-child(4)) {
    grid-column: 1 / 3;
  }

  .blog-card .card-title {
    --fs-14: 1.7rem;
    max-width: 25ch;
  }
}

/**
   * responsive for large than 768px screen
   */

@media (min-width: 768px) {
  /**
     * CUSTOM PROPERTY
     */

  :root {
    /**
       * typography
       */

    --fs-40: 8rem;
  }

  /**
     * REUSED STYLE
     */

  .container {
    max-width: 720px;
  }

  .h2 {
    --fs-30: 4rem;
  }

  .section-text {
    max-width: 50ch;
    margin-inline: auto;
  }

  /**
     * HEADER
     */

  .header-top {
    max-width: 780px;
  }

  /**
     * SERVICE
     */

  .service .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
     * PRICING
     */

  .pricing-tab-container {
    padding: 40px;
  }

  .pricing-card .wrapper {
    margin-inline-end: auto;
  }

  /**
     * GALLERY
     */

  .gallery .section-text {
    margin-inline: 0;
  }

  .gallery-card .card-content {
    inset: 30px;
  }

  /**
     * APPOINTMENT
     */

  .appoin-card .card-banner {
    display: block;
  }

  .appoin-card {
    display: flex;
  }

  /**
     * FOOTER
     */

  .footer-list:is(:nth-child(3), :nth-child(4)) {
    grid-column: auto;
  }
}

/**
   * responsive for large than 992px screen
   */

@media (min-width: 992px) {
  /**
     * CUSTOM PROPERTY
     */

  :root {
    /**
       * typography
       */

    --fs-40: 10rem;
  }

  /**
     * REUSED STYLE
     */

  .container {
    max-width: 960px;
  }

  /**
     * HEADER
     */

  .nav-toggle-btn {
    display: none;
  }

  .header-top {
    max-width: 1020px;
  }

  .header-bottom {
    padding-block: 20px;
  }

  .navbar,
  .navbar-list,
  .navbar-item {
    all: unset;
  }

  .navbar-list,
  .header .btn {
    display: flex;
  }

  .navbar-link {
    padding-inline: 10px;
  }

  /**
     * HERO
     */

  .hero {
    --section-padding: 150px;
    padding-block-start: calc(var(--section-padding) + 100px);
  }

  .hero-title,
  .hero-text {
    max-width: 600px;
  }

  /**
     * SERVICE
     */

  .service .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
     * PRICING
     */

  .pricing .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  .pricing-card {
    height: 100%;
  }

  .pricing-card .card-banner {
    flex-shrink: 0;
  }

  /**
     * GALLERY
     */

  .gallery .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .gallery .section-text {
    margin-block-end: 0;
  }

  /**
     * APPOINTMENT
     */

  .appoin-card .input-wrapper {
    display: flex;
    gap: 20px;
  }

  /**
     * FOOTER
     */

  .footer-brand {
    display: flex;
    align-items: center;
  }

  .footer .logo {
    padding: 60px 70px;
    border-block-end: none;
    border-inline-end: 1px solid var(--white_10);
  }

  .footer .input-wrapper {
    flex-grow: 1;
    margin-inline: 70px;
  }
}

/**
   * responsive for large than 1200px screen
   */

@media (min-width: 1200px) {
  /**
     * CUSTOM PROPERTY
     */

  :root {
    /**
       * typography
       */

    --fs-40: 11rem;

    /**
       * spacing
       */

    --section-padding: 120px;
  }

  /**
     * REUSED STYLE
     */

  .container {
    max-width: 1200px;
  }

  /**
     * HEADER
     */

  .header-top {
    max-width: 1260px;
  }

  .header-top-list {
    gap: 30px;
  }

  .header-top-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-top-item:nth-child(2) {
    margin-inline-end: auto;
  }

  /**
     * HERO
     */

  .hero {
    background-position: left;
    padding-block-end: 200px;
  }

  .hero-title,
  .hero-text {
    max-width: 680px;
  }

  /**
     * PRICING
     */

  .filter-btn {
    min-width: 178px;
  }

  /**
     * GALLERY
     */

  .gallery .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }

  /**
     * APPOINTMENT
     */

  .appoin-card .card-content {
    flex-grow: 1;
  }

  /**
     * FOOTER
     */

  .footer-link-box {
    grid-template-columns: 0.5fr 0.5fr 1fr 0.8fr;
  }

  /**
     * BACK TO TOP
     */

  .back-top-btn {
    padding: 15px;
  }
}

@charset "UTF-8";
@font-face {
  font-family: flaticon;
  src: url("./fonts/flaticon.ttf")
      format("truetype"),
    url("./fonts/flaticon.ttf")
      format("woff"),
    url("./fonts/flaticon.ttf")
      format("woff2"),
    url("./fonts/flaticon.ttf")
      format("embedded-opentype"),
    url("./fonts/flaticon.ttf")
      format("svg");
}
i[class*=" flaticon-"]:before,
i[class^="flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flaticon-barber:before {
  content: "";
}
.flaticon-scissors:before {
  content: "";
}
.flaticon-straight-razor:before {
  content: "";
}
.flaticon-beauty-treatment:before {
  content: "";
}
.flaticon-hot-stones:before {
  content: "";
}
.flaticon-salon:before {
  content: "";
}
.flaticon-shampoo:before {
  content: "";
}
.flaticon-hot-stone:before {
  content: "";
}
.flaticon-treatment:before {
  content: "";
}
.flaticon-shaving-razor:before {
  content: "";
}
.flaticon-hair-dye:before {
  content: "";
}
.flaticon-beauty-salon:before {
  content: "";
}
.flaticon-relax:before {
  content: "";
}
.flaticon-massage:before {
  content: "";
}
.flaticon-spa:before {
  content: "";
}
.flaticon-yoga:before {
  content: "";
}
.flaticon-razor-blade:before {
  content: "";
}
.flaticon-quotation:before {
  content: "";
}
.flaticon-save-money:before {
  content: "";
}
.flaticon-home:before {
  content: "";
}
.flaticon-shopping-cart:before {
  content: "";
}
.flaticon-dumbbell:before {
  content: "";
}
.flaticon-fork:before {
  content: "";
}
.flaticon-soap:before {
  content: "";
}
.flaticon-medal:before {
  content: "";
}


/* =================================== 
            login / Sign up 
====================================*/

/* - main container */
.login-client {
   margin-top: 10%;
}

/* @extend display-flex; */
display-flex, .display-flex, .display-flex-center, .signup-content, .signin-content, .social-login, .socials {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, .socials {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/poppins/poppins-v5-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"), url("./fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("./fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("./fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("./fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("./fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-300italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url("./fonts/poppins/poppins-v5-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("./fonts/poppins/poppins-v5-latin-300italic.eot?#iefix") format("embedded-opentype"), url("./fonts/poppins/poppins-v5-latin-300italic.woff2") format("woff2"), url("./fonts/poppins/poppins-v5-latin-300italic.woff") format("woff"), url("./fonts/poppins/poppins-v5-latin-300italic.ttf") format("truetype"), url("./fonts/poppins/poppins-v5-latin-300italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/poppins/poppins-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("./fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("./fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("./fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("./fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/poppins/poppins-v5-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"), url("./fonts/poppins/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/poppins/poppins-v5-latin-italic.woff2") format("woff2"), url("./fonts/poppins/poppins-v5-latin-italic.woff") format("woff"), url("./fonts/poppins/poppins-v5-latin-italic.ttf") format("truetype"), url("./fonts/poppins/poppins-v5-latin-italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/poppins/poppins-v5-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium"), local("Poppins-Medium"), url("./fonts/poppins/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"), url("./fonts/poppins/poppins-v5-latin-500.woff2") format("woff2"), url("./fonts/poppins/poppins-v5-latin-500.woff") format("woff"), url("./fonts/poppins/poppins-v5-latin-500.ttf") format("truetype"), url("./fonts/poppins/poppins-v5-latin-500.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-500italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url("./fonts/poppins/poppins-v5-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("./fonts/poppins/poppins-v5-latin-500italic.eot?#iefix") format("embedded-opentype"), url("./fonts/poppins/poppins-v5-latin-500italic.woff2") format("woff2"), url("./fonts/poppins/poppins-v5-latin-500italic.woff") format("woff"), url("./fonts/poppins/poppins-v5-latin-500italic.ttf") format("truetype"), url("./fonts/poppins/poppins-v5-latin-500italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/poppins/poppins-v5-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("./fonts/poppins/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("./fonts/poppins/poppins-v5-latin-600.woff2") format("woff2"), url("./fonts/poppins/poppins-v5-latin-600.woff") format("woff"), url("./fonts/poppins/poppins-v5-latin-600.ttf") format("truetype"), url("./fonts/poppins/poppins-v5-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/poppins/poppins-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url("./fonts/poppins/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("./fonts/poppins/poppins-v5-latin-700.woff2") format("woff2"), url("./fonts/poppins/poppins-v5-latin-700.woff") format("woff"), url("./fonts/poppins/poppins-v5-latin-700.ttf") format("truetype"), url("./fonts/poppins/poppins-v5-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/poppins/poppins-v5-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("./fonts/poppins/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("./fonts/poppins/poppins-v5-latin-700italic.woff2") format("woff2"), url("./fonts/poppins/poppins-v5-latin-700italic.woff") format("woff"), url("./fonts/poppins/poppins-v5-latin-700italic.ttf") format("truetype"), url("./fonts/poppins/poppins-v5-latin-700italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/poppins/poppins-v5-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("./fonts/poppins/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"), url("./fonts/poppins/poppins-v5-latin-800.woff2") format("woff2"), url("./fonts/poppins/poppins-v5-latin-800.woff") format("woff"), url("./fonts/poppins/poppins-v5-latin-800.ttf") format("truetype"), url("./fonts/poppins/poppins-v5-latin-800.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-800italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url("./fonts/poppins/poppins-v5-latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("./fonts/poppins/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"), url("./fonts/poppins/poppins-v5-latin-800italic.woff2") format("woff2"), url("./fonts/poppins/poppins-v5-latin-800italic.woff") format("woff"), url("./fonts/poppins/poppins-v5-latin-800italic.ttf") format("truetype"), url("./fonts/poppins/poppins-v5-latin-800italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/poppins/poppins-v5-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Black"), local("Poppins-Black"), url("./fonts/poppins/poppins-v5-latin-900.eot?#iefix") format("embedded-opentype"), url("./fonts/poppins/poppins-v5-latin-900.woff2") format("woff2"), url("./fonts/poppins/poppins-v5-latin-900.woff") format("woff"), url("./fonts/poppins/poppins-v5-latin-900.ttf") format("truetype"), url("./fonts/poppins/poppins-v5-latin-900.svg#Poppins") format("svg");
  /* Legacy iOS */ }
a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

img {
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777; }

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 36px; }

.main {
  background: #f8f8f8;
  padding: 150px 0; }

.clear {
  clear: both; }

body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
  font-family: Poppins; }

.container-login {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px; }

.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.signup {
  margin-bottom: 150px; }

.signup-content {
  padding: 75px 0; }

.signup-form, .signup-image, .signin-form, .signin-image {
  width: 50%;
  overflow: hidden; }

.signup-image {
  margin: 0 55px; }

.form-title {
  margin-bottom: 33px; }

.signup-image {
  margin-top: 45px; }

figure {
  margin-bottom: 50px;
  text-align: center; }

.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 25px;
  cursor: pointer; }
  .form-submit:hover {
    background: #4292dc; }

#signin {
  margin-top: 16px; }

.signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center; }

.term-service {
  font-size: 13px;
  color: #222; }

.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px; }

.register-form {
  width: 100%; }

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden; }
  .form-group:last-child {
    margin-bottom: 0px; }

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box; }
  input::-webkit-input-placeholder {
    color: #999; }
  input::-moz-placeholder {
    color: #999; }
  input:-ms-input-placeholder {
    color: #999; }
  input:-moz-placeholder {
    color: #999; }
  input:focus {
    border-bottom: 1px solid #222; }
    input:focus::-webkit-input-placeholder {
      color: #222; }
    input:focus::-moz-placeholder {
      color: #222; }
    input:focus:-ms-input-placeholder {
      color: #222; }
    input:focus:-moz-placeholder {
      color: #222; }

input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none; }

input[type=checkbox]:not(old) + label {
  display: inline-block;
  line-height: 1.5em;
  margin-top: 6px; }

input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 3px;
  border: 1px solid #999;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom; }

input[type=checkbox]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white); }

input[type=checkbox]:not(old):checked + label > span:before {
  content: '\f26b';
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold; }

.agree-term {
  display: inline-block;
  width: auto; }

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222; }

.label-has-error {
  top: 22%; }

label.error {
  position: relative;
  background: url("/images/unchecked.gif") no-repeat;
  background-position-y: 3px;
  padding-left: 20px;
  display: block;
  margin-top: 20px; }

label.valid {
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  margin-top: -6px;
  width: 20px;
  height: 20px;
  background: transparent; }
  label.valid:after {
    font-family: 'Material-Design-Iconic-Font';
    content: '\f269';
    width: 100%;
    height: 100%;
    position: absolute;
    /* right: 0; */
    font-size: 16px;
    color: green; }

.label-agree-term {
  position: relative;
  top: 0%;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0); }

.material-icons-name {
  font-size: 18px; }

.signin-content {
  padding-top: 67px;
  padding-bottom: 87px; }

.social-login {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  margin-top: 80px; }

.social-label {
  display: inline-block;
  margin-right: 15px; }

.socials li {
  padding: 5px; }
  .socials li:last-child {
    margin-right: 0px; }
  .socials li a {
    text-decoration: none; }
    .socials li a i {
      width: 30px;
      height: 30px;
      color: #fff;
      font-size: 14px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      transform: translateZ(0);
      -moz-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      -o-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
  .socials li:hover a i {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0); }

.zmdi-facebook {
  background: #3b5998; }

.zmdi-twitter {
  background: #1da0f2; }

.zmdi-google {
  background: #e72734; }

.signin-form {
  margin-right: 90px;
  margin-left: 80px; }

.signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px; }

@media screen and (max-width: 1200px) {
  .container {
    width: calc( 100% - 30px);
    max-width: 100%; } }
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px; } }
@media screen and (max-width: 768px) {
  .signup-content, .signin-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center; }

  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    /* box-sizing: border-box; */
    padding: 0 30px; }

  .signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2; }

  .signup-form, .signup-image, .signin-form, .signin-image {
    width: auto; }

  .social-login {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center; }

    .button {
      background-color: #ffffff00;
      color: #fff;
      width: 8.5em;
      height: 2.9em;
      border: #3654ff 0.2em solid;
      border-radius: 11px;
      text-align: right;
      transition: all 0.6s ease;
    }
    
    .form-button:hover {
      background-color: #3654ff;
      cursor: pointer;
    }
    
    .form-button svg {
      width: 1.6em;
      margin: -0.2em 0.8em 1em;
      position: absolute;
      display: flex;
      transition: all 0.6s ease;
    }
    
    .form-button:hover svg {
      transform: translateX(5px);
    }
    
  .signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px; }

  .form-title {
    text-align: center; } }
@media screen and (max-width: 400px) {
  .social-login {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  .social-label {
    margin-right: 0px;
    margin-bottom: 10px; } }

 /* ============================ 
      Client profile
 ===============================*/
   

 @import url(https://fonts.googleapis.com/css?family=Dancing+Script);

 /* side nav  */
 .sidenav {
  background-color: none;
  color: #333;
  border-bottom-right-radius: 25px;
  height: 86%;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  position: absolute;
  top: 70px;
  width: 250px;
  margin-top: 10%;
}

.profile {
  margin-bottom: 20px;
  margin-top: -12px;
  text-align: center;
}

.name {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.job {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.url, hr {
  text-align: center;
}

.url hr {
  margin-left: 20%;
  width: 60%;
}

.url a {
  color: #818181;
  display: block;
  font-size: 20px;
  margin: 10px 0;
  padding: 6px 8px;
  text-decoration: none;
}

.url a:hover, .url .active {
  background-color: #e8f5ff;
  border-radius: 28px;
  color: #000;
  margin-left: 14%;
  width: 65%;
}
.main {
  margin-top: 2%;
  margin-left: 29%;
  font-size: 28px;
  padding: 0 10px;
  width: 58%;
  margin-top:10%;
 
}

.main h2 {
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.main .card {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 grey;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 0 20px 50px;
  background-image: url('/images/edit.png');
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size:contain;
}

.main .card table {
  border: none;
  font-size: 16px;
  height: 600px;
  width: 80%;
}

.edit {
  position: absolute;
  color: #a47206;
  right: 14%;
}
.pencil-img{
  margin-left:-50%;
}
.update-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.update-title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  position: relative;
}

.update-title::before,
.update-title::after {
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0;
  background-color: royalblue;
  position: absolute;
}

.update-title::before {
  width: 18px;
  height: 18px;
}

.update-title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.update-flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.update-form label {
  position: relative;
}

.update-form label .update-input {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.update-form label .update-input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.update-form label .update-input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.update-form label .update-input:focus + span,
.update-form label .update-input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.update-form label .update-input:valid + span {
  color: green;
}

.update-submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.update-submit:hover {
  background-color: rgb(56, 90, 194);
  transform: scale(1.05);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}


/* -------------------------- *
 barberProfile
/---------------------------------*/

.barberProfile {
  margin-top:10%;
}