
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav-bar {
    background-color: transparent;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .nav-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    flex: 1;
    justify-content: space-around; 
  }
  
  .nav-logo {
    flex: 1; 
    display: flex;
    justify-content: center; 
  }
  .nav-logo img {
    max-width: 100%;
    height: auto;
  }

  .nav-menu-item {
    margin: 0 10px;
    list-style: none;
  }
  
  .nav-menu-item a {
    text-decoration: none;
    color: gold !important;
    font-weight: bold;
    padding: 5px 50px;
    border-radius: 5px;
    
  }

  .nav-menu-item a:hover {
    text-decoration:underline;
  }
  .container {
    position: relative;
    display: inline-block;
  }
  
  #imageLink {
    display: block;
    margin-left: 300%;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200%;
    margin-left: 300%;
    font:  url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Sree+Krushnadevaraya&display=swap');;
  }
  
  #imageLink:hover + #dropdown {
    display: block;
  }
  option {
    color: antiquewhite;
  }
  
  @media screen and (max-width: 768px) {
    .nav-menu {
      display: none;
    }
  }
  