/* styles.css */

.custom_about_area {
  padding: 100px 0;
  background-color: transparent;
  margin-top:10%;
}

.custom_about_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.custom_about_thumb {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.custom_about_thumb img {
  max-width: 100%;
  height: auto;
  display: contain;
  margin-left:22%;
  border-radius: 10%;
}

.custom_about_thumb button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #edaf12;
  font-size: 24px;
  transition: color 0.3s ease;
  z-index: 2;
}

.custom_about_thumb button:hover {
  color: #ff7b54;
}

.custom_about_thumb button:nth-child(1) {
  left: 20px;
}

.custom_about_thumb button:nth-child(2) {
  right: 20px;
}

.custom_about_info {
  padding-left: 40px;
}

.custom_section_title {
  position: relative;
}

.custom_section_title span {
  font-size: 18px;
  font-weight: 600;
  color: #ff7b54;
  text-transform: uppercase;
}

.custom_section_title h3 {
  margin-top: 15px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}

.custom_about_info p {
  margin-top: 20px;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.6;
}

.custom_boxed_btn3 {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 25px;
  background-color: #ff7b54;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.custom_boxed_btn3:hover {
  background-color: #e6643e;
}
